<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjetBI_DataGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ProjetBI_DataGenerator.Properties.Settings>
            <setting name="Types" serializeAs="String">
                <value>Acidofilo,Bouteille cola,Brazil pik,Color Schtroummpf pik,Langues acides,London pik,Miami pik,Pasta Basta,Pasta frutta,Sour snup,Dragibus,Carensac,Fraizibus,Grain de millet,Starmint,Florent violette,Kimono,Pain Zan,Rotella,Zanoïd,Fraise tagada,Croco,Chamallows,Polka,Banane,Ourson,Filament</value>
            </setting>
            <setting name="Colors" serializeAs="String">
                <value>Rouge,Orange,Jaune,Vert,Bleu,Violet,Noir,Marron</value>
            </setting>
            <setting name="Variants" serializeAs="String">
                <value>Acide,Sucré,Gélifié</value>
            </setting>
            <setting name="Textures" serializeAs="String">
                <value>Mou,Dur</value>
            </setting>
            <setting name="Conditioning" serializeAs="String">
                <value>Sachet,Boite,échantillon</value>
            </setting>
            <setting name="Countries" serializeAs="String">
                <value>Allemagne,Camion;Autriche,Camion;Belgique,Camion;Bulgarie,Camion;Chypre,Camion;Croatie,Camion;Danemark,Camion;Espagne,Camion;Estonie,Camion;Finlande,Camion;France,Camion;Grèce,Camion;Hongrie,Camion;Irelande,Camion;Italie,Camion;Lettonie,Camion;Lituanie,Camion;Luxembourg,Camion;Malte,Camion;Pays-Bas,Camion;Pologne,Camion;Portugal,Camion;République tchèque,Camion;Roumanie,Camion;Royaume-Uni,Camion;Slovaquie,Camion;Slovénie,Camion;Suède,Camion;USA,Avion;Canada,Avion;Mexique,Avion;Japon,Bateau;Chine,Avion;Afrique du sud,Bateau</value>
            </setting>
            <setting name="PartCSVPath" serializeAs="String">
                <value>\part.csv</value>
            </setting>
            <setting name="OrderCSVPath" serializeAs="String">
                <value>\order.csv</value>
            </setting>
            <setting name="MaxOrderParts" serializeAs="String">
                <value>14</value>
            </setting>
        </ProjetBI_DataGenerator.Properties.Settings>
    </applicationSettings>
</configuration>